body { background-color: #FFFFFF; color: #000000 }

a { color: #1f6b9e }

a.nonexistent { background-color: #CCCCCC }

table 	{
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-collapse: collapse;
	}
	
th,  td {
	padding: 10px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	}	
	
th      {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background: #ccc;
	}

pre     { white-space: pre; overflow: auto;
        margin: .5em 1em .8em 1em; 
        font-family: monospace;
	font-size: smaller;
	line-height:1.25em;
	border: 1px solid #D9D9D9;
        background:  #f9f9f9;
        }

.plain     { white-space: pre; overflow: auto;
        margin: 0em; 
        font-family: monospace;
	font-size: smaller;
	line-height: 1.25em;
	border: none;
        background:  none;
        margin-top: 0em;
        margin-bottom: 0em; }
